@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__paragraph-item/places__paragraph-item.css);
@import url(./__image/places__image.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);

.places {
  margin: 0 auto;
  margin-top: 92px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 66px;
    max-width: 100%;
  }
}
