@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);

.cover {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 92px;
  max-width: calc(100% - 96px);
  height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 104px;
    max-width: 100vw;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 100vw;
    height: 480px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 100vw;
    height: 200px;
    margin-top: 64px;
  }
}
